.camStream
{
    object-fit: cover;
    position: relative;
    z-index: 1;
    width:100%;
    height:100%;
    /*-webkit-transform: scaleY(-1);
    transform: scaleY(-1);*/
}

#Camera1Pointer {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
}