.connectionDisconnected
{
    color: red;
    text-align: left;
    font-size: 16px;
}
.connectionConnected
{
    color: green;
    text-align: left;
    font-size: 16px;
}

.connectionError
{
    color: yellow;
    text-align: left;
    font-size: 16px;
}

.connectionInputConsole
{
    width: 480px;
    height: 40px;
}