.grid
{
    display: grid;
    grid-template-columns: 160px 968px 1fr;
    grid-template-rows: 100%;
}

/*********** Menu Area **********/
.menu
{
    height: 98vh;
}

.menuSeparator
{
    line-height: 20px;
    margin: 10px;
    vertical-align: middle;
    text-align: center;
    color: rgb(38, 38, 145);
    font-size:110%;
}

.logo
{
    background: white;
    height: 200px;
    width: 160px;
}
.logo > img
{
    object-fit: cover;
    width:100%;
    height:100%;
}

.menubutton
{
    width: 160px;
}
/*********** Space Area **********/
.gridSpace
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 360px auto;
}

.space1
{
    border-width: 1px;
    border-style: dashed;
    border-color: rgba(60, 194, 85, 0.877);
    height: 360px;
    width: 480px;
    margin-left: 2px;
}
.space2
{
    border-width: 1px;
    border-style: dashed;
    border-color: rgba(60, 194, 85, 0.877);
    height: 360px;
    width: 480px;
    margin-left: 2px;
}

/*********** Control Area **********/
.options
{
    border-width: 1px;
    border-style: dashed;
    border-color: rgba(69, 60, 194, 0.877);
    grid-column: 1/3;
}

/*********** File Area **********/
.viewfile
{
    border-width: 1px;
    border-style: dashed;
    border-color: rgba(238, 187, 187, 0.877);
}